font-family: 'Noto Serif', serif;

font-family: 'Source Sans Pro', sans-serif;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #002642;
    font-family: 'Noto Serif', serif;
    color: #e5dada;
}

.menu {
    border-style: solid;
    background-color: #e5dada;
}

nav > ul > li {
    display: inline;
    border-style: solid;
}

h1 {
    color: #e59500;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
}
a:link {
    color: #e59500;
}

a:visited {
    color: #02040f;
}